{
  "extends": ["eslint:recommended", "google", "plugin:prettier/recommended"],
  "plugins": ["prettier", "googleappsscript"],
  "env": {
    "googleappsscript/googleappsscript": true,
    "node": false
  },
  "rules": {
    "prettier/prettier": "error",
    "no-var": "off",
    "valid-jsdoc": "off",
    "require-jsdoc": "off",
    "guard-for-in": "off",
    "no-unused-vars": "off"
  },
  "globals": { "AlaSQLGS": "readonly" }
}
